version: '3.8'

services:
  registry:
    image: registry:2
    ports:
      - "5000:5000"
    restart: always

  p2p-node-a:
    build: .
    image: localhost:5000/chat-p2p:v1 # On nomme la nouvelle image P2P
    ports:
      - "6000:6000" # Expose le port 6000 de la VM vers le conteneur
    stdin_open: true
    tty: true
    environment:
      - MY_PORT=6000          # J'écoute sur 6000
      - PEER_IP=192.168.1.2   # Je parle à la VM1
      - PEER_PORT=6000        # Sur son port 6000
    depends_on:
      - registry