services:
  registry:
    image: registry:2
    ports:
      - "5000:5000"
    restart: always

  p2p-node-1:
    build: .
    image: localhost:5000/chat-p2p:v1
    ports:
      - "6001:6000"
    stdin_open: true
    tty: true
    environment:
      - MY_PORT=6001
      - PEER_IP=p2p-node-2
      - PEER_PORT=6002
    depends_on:
      - registry

  p2p-node-2:
    build: .
    image: localhost:5000/chat-p2p:v1
    ports:
      - "6002:6000"
    stdin_open: true
    tty: true
    environment:
      - MY_PORT=6002
      - PEER_IP=192.168.200.13
      - PEER_PORT=6003
    depends_on:
      - registry